/* General styles */
.Leaderboard {
    margin-top: 15px;
}

h2 {
    color: #4340e7;
    font-weight: bold;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4340e7;
    color: azure;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: white;
}

/* Responsive styles */


